{# LyricaEirinBundle:Vote:options.html.twig #}
{% extends "LyricaEirinBundle::layout.html.twig" %}

{% block body %}
<p>Ici vous pouvez sauvegarder vos options pour le match.</p>
<form method="post" action="{{ path('Eirin_options') }}">
{% for g in games %}
{% endfor %}
</form>
{% endblock %}
